{% extends "layout.html" %}
{% block title %}Blood Sugar Event{% endblock title %}
{% block content %}
<div>
    <h1>Blood Sugar Events</h1>
    <form action = "", method = "POST">
        {{form.hidden_tag()}}
        {{form.number.label}}
        {{form.number}}
        {{form.submit}}
    </form>
</div>
<div>
    <table>
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for row in message %}
         <tr>
            {% for item in row %}
             <td>{{item}}</td>
            {% endfor %}
         </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}