{% extends "layout.html" %}
{% block content %}
<h1 class="display-2">Event Log</h1>
    <div>
      <form action = "", method = "POST">
        {{form.hidden_tag()}}
          <br/>
         {{form.myField.label(class="form-label")}}
           <br/>
        {{form.myField(class="form-select form-select-lg-mb-3")}}
          <br/>
        {{form.submit(class="btn btn-primary")}}
          <br/><br/><br/>
      </form>
    </div>
    <div>

    <br/>
    <table class="table table-hover">
        <tr>
            {% for header in headers %}
                <th scope="col">{{header}}</th>
            {% endfor %}
        </tr>
        {% for row in message %}
         <tr>
            {% for item in row %}
             <td>{{item}}</td>
            {% endfor %}
         </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}