{% extends "layout.html" %}
{% block title %}Exercise Event{% endblock title %}

{% block content %}
<div>
<form action = "", method = "POST">
    {{form.hidden_tag()}}
    {{form.type.label(class="form-label")}}
    {{form.type(class="form-control")}}
    {{form.calories_burned.label(class="form-label")}}
    {{form.calories_burned(class="form-control")}}
    {{form.duration.label(class="form-label")}}
    {{form.duration(class="form-control")}}
    <br/>
    {{form.submit(class="btn btn-primary")}}
</form>
</div>
{% endblock content %}