{% extends "layout.html" %}
{% block title %}Exercise Event{% endblock title %}

{% block content %}
<div>
<form action = "", method = "POST">
    {{form.hidden_tag()}}
    {{form.type.label}}
    {{form.type}}
    {{form.calories_burned.label}}
    {{form.calories_burned}}
    {{form.duration.label}}
    {{form.duration}}
    {{form.submit}}
</form>
</div>
<div>
    <table>
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for row in message %}
         <tr>
            {% for item in row %}
             <td>{{item}}</td>
            {% endfor %}
         </tr>
        {% endfor %}
    </table>
    </div>
{% endblock content %}