{% extends "layout.html" %}
{% block title %}Food Event{% endblock title %}

{% block content %}
<div>
    <h1>Food Events</h1>
    <form action = "", method = "POST">
        {{form.hidden_tag()}}
        {{form.name.label}}
        {{form.name}}
        {{form.carbs.label}}
        {{form.carbs}}
        {{form.submit}}
</form>

</div>
<div>
    <table>
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for row in message %}
         <tr>
            {% for item in row %}
             <td>{{item}}</td>
            {% endfor %}
         </tr>
        {% endfor %}
    </table>

</div>
{% endblock content %}