{% extends "layout.html" %}
{% block title %}Food Event{% endblock title %}

{% block content %}
<div>
    <h1>Food Events</h1>
    <form action = "", method = "POST">
        {{form.hidden_tag()}}
        <br/>
        {{form.name.label(class="form-label")}}
        {{form.name(class="form-control")}}
        <br/>
        {{form.carbs.label(class="form-label")}}
        {{form.carbs(class="form-control")}}
        <br/>
        {{form.submit(class="btn btn-primary") }}
</form>

</div>
{% endblock content %}