{% extends "layout.html" %}
{% block title %}Profile{% endblock title %}
{% block content %}
<H1>WELCOME, {{ username }}</H1>
<h2>{{form_header}}</h2>
<div>
      <form method = "POST", action = "">
        {{ form.hidden_tag() }}
        <div>
        {{ form.height.label }}
          {{ form.height }}
        </div>
    <div>
        {{ form.weight.label }}
          {{ form.weight }}
        </div>
        <div>
        {{ form.age.label }}
          {{ form.age }}
        </div>
    <div>
        {{ form.bmi.label }}
          {{ form.bmi }}
        </div>
       <div>
        {{ form.ethnicity.label }}
          {{ form.ethnicity }}
        </div>
        <div>
          {{ form.submit }}
        </div>
      </form>
</div>
<div>
    {% if check %}
            <h2>{{out_message}}</h2>
    {% else %}
        <table>
            <tr>
                {% for header in headers %}
                    <th>{{header}}</th>
                {% endfor %}
            </tr>

            <tr>
                {% for item in select_results %}
                     <td>{{item}}</td>
                {% endfor %}
            </tr>

        </table>
    {% endif %}
    </div>
{% endblock content %}