{% extends "layout.html" %}
{% block title %}WELCOME{% endblock title %}
{% block content %}
 <h1>Please login, or sign up to create an account!</h1>
 <form method = "POST"></form>
<div>
    <form method = "POST", action = "">
      {{ form.hidden_tag() }}
      <legend>LOGIN</legend>
      {{ form.username }}
      {{ form.password }}
      {{ form.submit }}
    </form>
</div>
<div>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>
{% endblock content %}