{% extends "layout.html" %}
{% block title %}Login{% endblock title %}
{% block content %}
    <div>
        <form method = "POST", action = "">
          {{ form.hidden_tag() }}
          <legend>LOGIN</legend>
          {{ form.username(class="form-control") }}
          {{ form.password(class="form-control") }}
          {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
    <div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
{% block content %}