{% extends "layout.html" %}
{% block title %}Medicine Event{% endblock title %}

{% block content %}
<div>
     <h1>Medicine Events</h1>
<form action = "", method = "POST">
    {{form.hidden_tag()}}
    {{form.name.label}}
    {{form.name}}
    {{form.type.label}}
    {{form.type}}
    {{form.dosage.label}}
    {{form.dosage}}
    {{form.submit}}
</form>
</div>
<div>
    <table>
        <tr>
            {% for header in headers %}
                <th>{{header}}</th>
            {% endfor %}
        </tr>
        {% for row in message %}
         <tr>
            {% for item in row %}
             <td>{{item}}</td>
            {% endfor %}
         </tr>
        {% endfor %}
    </table>
</div>
{% endblock content %}