{% extends "layout.html" %}
{% block title %}Medicine Event{% endblock title %}

{% block content %}
<div>
     <h1>Medicine Events</h1>
<form action = "", method = "POST">
    {{form.hidden_tag()}}
    {{form.name.label(class="form-label")}}
    {{form.name(class="form-control")}}
    <br/>
    {{form.type.label(class="form-label")}}
    {{form.type(class="form-control")}}
    <br/>
    {{form.dosage.label(class="form-label")}}
    {{form.dosage(class="form-control")}}
    <br/>
    {{form.submit(class="btn btn-primary")}}
    <br/>
</form>
</div>
{% endblock content %}